<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd"
       bean-discovery-mode="all">

    <interceptors>
        <class>lab1.interceptors.LoggedInvocationInterceptor</class>
    </interceptors>
<!--    <alternatives>-->
<!--        <class>lab1.usecases.AlternativeMovieReport</class>-->
<!--    </alternatives>-->
    <decorators>
        <class>lab1.decorators.MovieDecorator</class>
    </decorators>
</beans>